#home-fondo
    //fondo de la seccion home
    height: 100vh
    background-image: url("../assets/images/fondo-home.png")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    
    
 