.conteiner-footer-principal
    background: #161F30
    .footer-logo
        height: 100px
        width: 100px
        margin-top: 20px
    h6
        font-size: 1.25rem
        margin-bottom: 15px
        color: #84B026
        font-family: $tra-des-family
        text-transform: uppercase
    .info
        color:  #84B026
        a
            text-decoration: none
            color:  #84B026
    .nav-link
        font-size: 1rem
        font-family: $tra-des-family
        text-transform: uppercase
        color: #61614de1
        &:hover
            color: $color-amarillo
        @media screen and ( min-width: 768px  )
            width: 140px
    .info
        font-family: $tra-des-family
        text-transform: uppercase
        a
            color: #DBF227
    .social-icons a 
        text-decoration: none
        font-size: 2.5rem
        color: #84B026
        transition: color 0.3s
        &:hover
            color: blue
            .Twitter
                color: #217373
            .Instagram
                color: orange
                    
                  
           
                