//encabezado
.conteiner-header
    .conteiner-logo-nombre
        display: flex
        align-items: center
        justify-items: center
        margin-left: 5%
        //escudo del header
        .logo
            @include tam-logo
            &:hover
                opacity: 0.8
        //nombre 
        .nombre
            display: none