*
    margin: 0
    padding: 0
    box-sizing: border-box
// divido en secciones todas las paginas, todas tienen el mismo formato/stilo
.seccion
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 70px auto auto
    grid-template-areas: "encabezado" "contenido" "pie"
    .conteiner-header
        grid-area: encabezado
        background: #012030
    #Home-desk
        background-image: url("../assets/images/fondo-home.png")
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        background-attachment: fixed
        backdrop-filter: blur(200px)
        -webkit-backdrop-filter: blur(20px)
    .principal
        grid-area: contenido

    .conteiner-footer-principal
        grid-area: pie
    
        
  