
//letras
@import "https://fonts.googleapis.com/css2?family=Anton+SC&display=swap"
@import "https://fonts.googleapis.com/css2?family=Anton+SC&family=Seymour+One&display=swap"
@import "https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Seymour+One&display=swap"

//nombre de la pagina
$tiitulo-header: "Anton SC", sans-serif    
$tiitulo-header-weight: 400
$tiitulo-header-stylo: normal  
//home
//titulo
$titulo-home:"Seymour One", sans-serif
$titulo-home-tamno:70px
$min-titulo-home:10px
$titulo-home-stylo:normal
//sidebar
//trayectorias
//titulo
$tra-des-family: "Edu AU VIC WA NT Hand"
