#formulario-page
    display: grid
    background: #9FC131
        
    grid-template-columns: 1fr
    grid-template-rows: auto auto 
    grid-template-areas: "introduccion" "contenido-formulario"
    @media screen and (min-width:768px)
        grid-template-columns: 1fr 1fr
        grid-template-rows: auto auto 
        grid-template-areas: "introduccion contenido-formulario"
    @media screen and (min-width:1024px)
        height: 100vh
    .conteiner-descripcion-formulario
        border-right:  1px solid black
        grid-area: introduccion
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: auto auto 
        grid-template-areas: "tituloxx" "intro"
        background: #D6D58E
        font-family: $tra-des-family
        @media screen and (min-width: 768px)
             margin: 50px 
             margin-right: 0
        .conteiner-titulo-des
            grid-area: tituloxx
            margin: 20px
            @media screen and (min-width:2500px)
                margin-top: 100px
            h1
                @include animacion-home
                text-align: center
                text-transform: uppercase
                @media screen and (max-width:320px)
                    font-size: 20px
        .formu-des
            grid-area: intro
            margin: 20px
            @media screen and (min-width:768px)
                margin-top: -140px
            
            p
                text-align: center
                margin: 5px 
                font-family: $tra-des-family
                @media screen and (min-width:1024px)
                    font-size: 25px
                    margin-top: 50px
                @media screen and (min-width:2500px)
                    font-size: 30px

    .conteiner-formulario
        
        // border: 1px solid black
        grid-area: contenido-formulario
        text-align: center
        background: #D6D58E
        font-family: $tra-des-family
        @media screen and (min-width: 768px)
             margin: 50px 
             margin-left:  0
        
        .formulario
           
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: repeat(5,auto)
            row-gap: 20px
            justify-items: center
            margin: 10px
            @media screen and (min-width: 1024px)
                margin: 20px
            @media screen and (min-width:2500px)
                margin-top: 200px
            legend
                margin-top: 10px
                text-transform: uppercase
                font-size: 25px
                font-family: $tra-des-family
            .divisor
                width: 300px
                @media screen and (min-width:2500px)
                    width: 600px
            textarea
                // 
                width:290px
                resize: none
                @media screen and (min-width:1024px)
                    width: 350px
                @media screen and (min-width:1440px)
                    width: 450px
                @media screen and (min-width:2500px)
                    width: 700px
                // resize: none
