#galeria
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 70px auto auto 
    grid-template-areas: "titulo-galeria" "contenido-1-galeria" "contenido-2-galeria"
    .conteiner-titulo-galeria
        grid-area: titulo-galeria
        background: $color-subtitulos
        @include titulos
    .seccion-Imagenes
        grid-area: contenido-1-galeria
        background: #D6D58E
        @include galeria-seccion
    .seccion-videos
        grid-area: contenido-2-galeria
        background: #D6D58E
        @include galeria-seccion
        
    